<mat-grid-list cols="4" [rowHeight]="windowHeight()">

  <mat-grid-tile colspan="3">
    <video #target controls (play)="onPlay($event)" (pause)="onPause($event)">
      <source *ngIf="this.videos[currentVideoIndex]" [src]="currentVideoURL()" type="video/mp4">
    </video>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-list>
      <mat-list-item>
        <mat-card style="background-color: lightgray">
          <span style="display: inline-block;margin: auto; font-weight: bold; margin-top: 8px">Available Videos</span>
          <button style="float:right" mat-raised-button color="warn" (click)="scan()">Scan</button>
        </mat-card>
      </mat-list-item>
      <mat-list-item *ngFor="let video of videos; index as i">
        <mat-card (click)="selectVideo(i)" class="selectable" [class.selected]="i == currentVideoIndex">{{video.filename}}</mat-card>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

</mat-grid-list>
